@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body {
    background:url(images/bbg-images.png);
    height: 100%;
}
section {
    min-height: 100vh;
    padding: 4rem 4% 2rem;
}
nav {
    background-color: #081b29;
    font-size: 28px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
    padding: 10px 0px;
    border: 2px solid white;
}
.logo h1 {
    color: #0ef;
}

nav li{
    display: inline-block;
    margin-left: 35px;
    font-size: 23px;
}
nav a{
    text-decoration: none;
    color: #0ef;
}
nav a:hover{
    text-decoration: underline;
    color: aliceblue;
}
ul li.active a{
    color: #7cf03d;
}
.menu-line {
    height: 3px;
    width: 23px;
    background-color: #0ef;
    margin-bottom: 3px;
}

.menu {
    cursor: pointer;
    display: none;
}

@media all and (max-width:766px){
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid red;
    }
    nav li{
        display: block;
        padding: 10px;
    }
    ul {
        align-items: center;
        padding: 0;
    }
    .logo {
        align-self:flex-start;
        margin: 10px 0px 0px 30px;
    }
    .menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 34px;
    }
    
    ul.showmenu {
        display: none;
    }
    .about {
        flex-wrap: wrap;     
    }
    .about .btn-box {
        display: block;
        margin: auto;
    }
    .about-text h2{
        font-size: 20px;
        text-align: center;
    }
    .about-text h4{
        font-size: 20px;
        text-align: center;
    }
}
.home {
    background-image: url(images/background-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.home-content {
    position: absolute;
    top: 150px;
    left: 100px;
}
span {
    color: cyan;
}
.home-content h1 {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1.3;
    color: #0ef;
}
.home-content h3 {
    font-size: 38px;
    font-weight: 700;
    animation: slideBottom is ease forwards;
    animation-delay: -7s;
    color: aliceblue;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
    animation: slideTop 1s ease forwards;
    animation-delay: -7s;
}
.home-content p{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #0ef;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: -2rem solid #0ef;
    border-radius: 50%;
    font-size: 2rem;
    text-decoration: none;
    padding: 7px;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: hsl(205, 67%, 10%);
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: slideTop is ease forwards;
    /* opacity: 0; */
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan;

}
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    margin: 0px 10px;
}
.about-img img{
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
    color: #081b29;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.5rem);
    }
    100% {
        transform: translateY(0);
    }
}

.about-text h2 {
    font-size: 50px;
    color: #fff;
}
.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p {
    color: aliceblue;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 3rem;
    text-align: justify;
}

#services {
    color: aliceblue;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 4rem;
    cursor: pointer;
    transition: 2s;
    
}
#services:hover {
    right: 0;
}

.sub-title {
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}
.sub-title span{
    color: #0ef;   
}
.container {
    padding: 50px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    position: relative;
}

.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 18px;
    font-weight: 17px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, tranform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 50px #0053b8f7;
    border: 5px solid white;
}
.services-list h2 {
    text-transform: capitalize;
}

.services-list div i{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 15px;
}
.services-list div a {
    text-decoration: none;
    color: #0000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div p {
    font-size: 16px;
    margin: 10px 0px;
    text-align: justify;
}
.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.read:hover {
    color: black;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan;
}

.portfolio-form-section {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}
p {
    text-align: center;
    margin-bottom: 20px;
    color: #777;
}
.portfolio-form-section {
    display: block;
    margin: auto;
}
.portfolio-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}
.submit-btn {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .home-content h1{
        font-size: 26px;
    }   
    .home-content h3{
        font-size: 24px;    
    }

}
footer {
    background-color: #222;
}
#contact {
    margin-top: 40px;
}

.whole-back {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.first h1 {
    color: azure;
    padding: 10px 0px;
    font-size: 40px;
}

.second h1 {
    color: #d86919;
    padding: 10px 0px;
}

.second p {
    color: aliceblue;
    font-size: 18px;
    width: 330px;
}

.second {
    margin: 30px 0px;
}

.third h1 {
    color: #d86919;
    margin: 10px 0px;
}

.third p {
    color: aliceblue;
    padding: 10px 0px;
}
.third ul li {
    list-style-type: none;
    
}

.third ul li i {
    color: #d3732e;
    margin: 10px;
}

.third ul li a {
    text-decoration: none;
    color: antiquewhite;
}


.list h3 {
    font-size: 24px;
    color: #d86919;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px 0px;
}

.list ul li {
    color: aliceblue;
    list-style-type: none;
    padding: 8px 0px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.horizontal-line {
    margin: 0% 10%;
}

.footer-bottom {
    text-align: center;
    padding: 20px;
}

.icons ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.icons ul li a {
    text-decoration: none;
    color: #d86919;
}

.icons ul li a i {
    font-size: 30px;
}

.copyright {
    color: white;
    margin-top: 20px;
}

@media (max-width:1024px) {

    .bgimg {
        height: 500px;
    }

    .bgimg-text {
        top: 5%;
    }

    .right-content img { 
        width: 390px;
    }

    .left-content {
        padding: 10px;
    }

    .left-item img {
        width: 390px;
        height: 350px;
    }

    .right-item {
        padding: 10px;
    }

    .right-item p {
        align-items: center;
        text-align: justify;
    }
}


@media (max-width:768px) {
    .content {
        display: block;
        text-align: center;
    }

    .bgimg-text {
        bottom: 165px;
    }

    .bgimg-text h1 {
        font-size: 32px;
    }

    .bgimg-text h2 {
        font-size: 35px;
    }

    .bgimg-text p {
        font-size: 18px;
        text-align: justify;
        width: 70vw;
    }
    .bgimg-text button {
        width: 100px;
    }
    .navigation {
        display: block;
    }
    .content p {
        text-align: justify;
        align-items: center;
        width: 90vw;
    }

    .right-content img {
        margin: 20px 0px;
    }
 
    .right-item {
        margin-top: 20px;
    }

    .right-item p {
        width: 90vw;
    }

    .items {
        display: block;
        text-align: center;
    }

    .whole-back {
        flex-wrap: wrap;
    }
}


