@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body {
    background:url(images/bbg-images.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
nav {
    background-color: #081b29;
    font-size: 28px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
    padding: 10px 0px;
    border: 2px solid white;
}
.logo h1 {
    color: #0ef;
}

nav li{
    display: inline-block;
    margin-left: 35px;
    font-size: 23px;
}
nav a{
    text-decoration: none;
    color: #0ef;
}
nav a:hover{
    text-decoration: underline;
    color: aliceblue;
}
ul li.active a{
    color: #7cf03d;
}
.menu-line {
    height: 3px;
    width: 23px;
    background-color: #0ef;
    margin-bottom: 3px;
}

.menu {
    cursor: pointer;
    display: none;
}

.home {
    background-image: url(images/bgimg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px; 
}
.home-content {
    position: absolute;
    top: 120px;
    left: 50px;
}

.home-content h1 {
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 1.3;
    color: #0ef;
}
.typing-container {
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #0ff;
    width: fit-content;
}
  
.typing-text {
    font-size: 25px;
    width: 0;
    overflow: hidden;
    animation: typing 5s steps(25) forwards, blink 0.7s step-end infinite;
    border-right: 2px solid #0ff;
}

@keyframes typing {
      0% {
        width: 0;
      }
      50% {
        width: 22ch;
      }
      100% {
        width: 0;
      }
}

@keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: #0ff; }
}

.home-content h3 {
    font-size: 30px;
    font-weight: 700;
    animation: slideBottom is ease forwards;
    animation-delay: -7s;
    color: aliceblue;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
    animation: slideTop 1s ease forwards;
    animation-delay: -7s;
}
.home-content p{    
    text-align: center;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    font-style: oblique;
}
.home-sci a i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #0ef;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: -2rem solid #0ef;
    border-radius: 50%;
    font-size: 2rem;
    text-decoration: none;
    padding: 3px;
    margin: 25px 10px 25px 0;
}

.home-sci a i:hover {
    background: #0ef;
    border: 1px solid white;
    color: hsl(205, 67%, 10%);
    box-shadow: 0 0 20px #0ef;
}
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    margin: 0px 10px;
}
.about-img img{
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
    color: #081b29;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.about-img img:hover{
    cursor: pointer;
    transform: scale(1.1); /* Zoom effect */
    opacity: 0.8;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.5rem);
    }
    100% {
        transform: translateY(0);
    }
}

.about-text h2 {
    font-size: 50px;
    color: #fff;
}
.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p {
    color: aliceblue;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 3rem;
    text-align: justify;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef; 
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan;
}

#services {
    color: aliceblue;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 4rem;
    cursor: pointer;
    transition: 2s;
}
#services:hover {
    right: 0;
}

.sub-title {
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}
.sub-title span{
    color: #0ef;   
}
.container {
    padding: 50px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    position: relative;
}

.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 18px;
    font-weight: 17px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, tranform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 50px #0053b8f7;
    border: 5px solid white;
}
.services-list div:hover {
    cursor: pointer;
    transform: scale(1.1); /* Zoom effect */
    opacity: 0.8;
}

.services-list div i{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 15px;
}
.services-list a {
    text-decoration: none;
    color: #0000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div p {
    font-size: 16px;
    margin: 10px 0px;
    text-align: justify;
}
.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
